{% if user.is_authenticated %}
    {% if user.is_staff or user.is_superuser %}
        {% if request.path != '/area_admin/' %}
            <a href="{% url 'reclamacoes:area_admin' %}" class="btn btn-login">
                <span class="auth-text">Painel Admin</span>
            </a>
        {% endif %}
    {% endif %}

<a href="{% url 'reclamacoes:cadastrar_empresa' %}" class="btn btn-login">
    <span class="auth-text">Cadastrar Empresa</span>
</a>
{% else %}
    <a href="{% url 'usuarios:login' %}" class="btn btn-login">
        <span class="auth-text">Acessar</span>
    </a>
    <a href="{% url 'usuarios:registro' %}" class="btn btn-signup">
        <span class="auth-text">Criar Conta</span>
    </a>

{% endif %}
    <a href="{% url 'usuarios:logout' %}" class="btn btn-logout">
        <span class="auth-text">Sair</span>
    </a>