{% include "partials/head.html" %}

<form action="{% url "reclamacoes:criar_reclamacao" empresa.id %}" method="POST" class="formulario container">
    {% csrf_token %}
    
    <h2>Reclamar sobre: {{ empresa.nome }}</h2>

    {% if form.non_field_errors %}
        <div class="alert-box">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}
            </label>

            {{ field }}

            {% if field.errors %}
                <div class="alert-box">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Cadastrar
        </button>
    </div>
</form>
{% include "partials/footer.html" %}