{% include "partials/head.html" %}
<body>
    {% include "partials/header.html" %}
    <main class="main-content-container">
        <div class="container">
            <div class="main-content-list">
                {% for empresa in empresa %}
                    {% include "partials/empresa.html" %}
                {% empty %}
                    <div class="alert-box">
                        Nenhuma empresa cadastrada
                    </div>
                {% endfor %}
            
            </div>
        </div>
    </main>
</body>
{% include "partials/footer.html" %}
</html>
